<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://www.springframework.org/schema/security
  http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <http auto-config="true">
    <intercept-url pattern="/cm*" access="ROLE_USER" />
    <form-login login-page="/login" default-target-url="/ajax/login/isLoggedIn" authentication-failure-url="/loginfailed" always-use-default-target='true' />
    <logout logout-success-url="/ajax/login/isLoggedIn" />
  </http>

  <authentication-manager>
    <authentication-provider>
      <password-encoder hash="sha" />
      <user-service>
        <user name="sysadmin" password="a159b7ae81ba3552af61e9731b20870515944538" authorities="ROLE_USER" />
      </user-service>
    </authentication-provider>
  </authentication-manager>

</beans:beans>